---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
  <div class="container container__home">
    <h1 class="main-heading">Jonathan Beltrán (a.k.a Joe) is a product builder based in Colombia</h1>
    <p class="heyjoe_paragraph">
      I'm currently working as a Senior Product Designer for a YC backed SaaS that helps resellers
      increase sales and grow their business.
    </p>
    <div class="fond-me-wrapper">
      <a href="/work" class="hj-button">Check out my work!</a>
    </div>
  </div>
</BaseLayout>
